*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Ubuntu', sans-serif;
    
}


:root {
    --Colorh1: #555;
    --Colorh2: #555;
    --ColorTextoBoton:rgb(104, 67, 0);
    --ColorFondo: rgb(255, 255, 255);
    --paddingsecciones: 60px 0;
    --marginelementos: 40px;

}

.contenedor {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: var(--paddingsecciones);
}

.copy {
    text-align: center;
    color: rgb(182, 182, 182);
    margin-top: 15px 0;
    font-size: 20px;
    text-decoration: none;

}

/* CSS de Menu */

.menu_navegacion {
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.menu_navegacion a:hover {
    color: black;
    text-decoration: underline;
}

.logo {
    height: 50px;
}

.logo img {
    display: block;
    height: 100%;
}

.enlaces li {
    list-style: none;
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    
}

.enlaces a {
    text-decoration: none;
    color: var(--ColorTextoBoton);
    padding-left: 20px;
}

/* formulario */

h1 {
    text-align: center;
}

.contact_form {
    height: auto;
    margin: 80px auto;
    border-radius: 20px;
    padding: 30px;
    background: #f0f0f0;
    -webkit-box-shadow: 0px 0px 14px -1px #fffce3;
    -moz-box-shadow: 0px 0px 14px -1px #fffce3;
    box-shadow: 0px 0px 14px -1px #fffce3;
    width: 40%;
}

input {
    background: #ffffff;
    width: 100%;
    height: 45px;
    border-radius: 20px;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    
}

textarea {
    background: #ffffff;
    width: 100%;
    height: 100px;
    border-radius: 20px;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    border: black solid 2px;

}

p {
    color: black;
    text-decoration: underline;
    font-size: 20px;
}

.boton {
    display: flex;
    justify-content: center;
}

button {
    background: var(--ColorTextoBoton);
    color: wheat;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 20px;
}

button:hover {
    background-color: wheat;
    color: var(--ColorTextoBoton);
}

/* Footer */

.redes-sociales {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 10px;
}

.redes-sociales i {
    font-size: 30px;
    padding: 0 20px;
    margin-top: 20px;

}

.redes-sociales a {
    color: var(--ColorTextoBoton);
    text-decoration: none;
    
}

.redes-sociales a:hover {
    color: black;
}



